header {
  padding: 10px 10px;
  font-size: 16pt;
  display: flex;

  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 5px var(--secondary-color);

  > * {
    vertical-align: center;
    margin: auto 5px;
  }
}
