$primary-color: #222
$font-color: #fff
$font-stack: Roboto, sans-serif
$width: 800px

:root
  background-color: $primary-color
  color: $font-color
  font: 100% $font-stack

body
  max-width: $width

a
  text-decoration: none
  color: #7575ff

a:hover
  color: #c0c0ff

pre
  padding: 10px
  border-radius: 5px

code
  display: inline-block
  padding: 0.5px 2px
