$primary-color: #222
$font-color: #fff
$font-stack: Roboto, sans-serif
$width: 800px

:root
  background-color: $primary-color
  color: $font-color
  font: 100% $font-stack

body
  max-width: $width

a
  text-decoration: none
  color: #7575ff

a:hover
  color: #c0c0ff

pre
  padding: 10px
  border-radius: 5px

code
  display: inline-block
  padding: 0.5px 2px

.page-item
  margin: 5px 0px
  background-color: #3a3a3a
  padding: 10px 20px

.page-item:hover
  background-color: #4a4a4a

.page-item > *
  margin: 2px 0

.page-title
  color: #fff

.page-info
  display: flex
  color: #aaa
  font-size: 75%
