:root {
  --primary-color: light-dark(#fff, #222);
  --secondary-color: light-dark(#dadada, #3a3a3a);
  --codeblock-color: #1e1e1e;

  --accent-color: light-dark(#4545ff, #7575ff);
  --accent-color-focus: light-dark(#2525ff, #9595ff);

  // For elements which need the extra style
  --text-color: light-dark(black, white);
  --secondary-text-color: light-dark(#222, #aaa);

  color-scheme: dark light;
  background-color: var(--primary-color);
  font: 100% sans-serif;
}

main {
  margin-inline: auto;
}

header {
  padding: 10px 10px;
  font-size: 16pt;
  display: flex;

  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 5px var(--secondary-color);

  > * {
    vertical-align: center;
    margin: auto 5px;
  }
}

body {
  max-width: min(1000px, 100% - 4rem);
  font-size: 1.25rem;
  margin: 0 auto 1em;
  line-height: 1.4;
}

a {
  color: var(--accent-color);
  transition: color 0.1s linear;

  &:hover {
    color: var(--accent-color-focus);
  }
}

blockquote {
  margin-left: 0px;
  padding: 0.3em 0.3em;
  border-left: 0.1em solid gray;

  > p {
    padding: 0;
    margin: 0;
  }
}

.giallo-ln {
  padding-right: 0.5em;
  padding-left: 0.2em;
}

.giallo {
  padding: 0.2em;
  border-radius: 5px;
  background-color: var(--codeblock-color) !important;
  overflow: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 0;

      &:nth-of-type(1) {
        vertical-align: top;
        user-select: none;
        padding-right: 0.3rem;
        filter: brightness(50%);
      }
    }
  }
}

code {
  display: inline-block;
  padding: 0.05em 0.2em;
  background-color: #1e1e1e;
  border-radius: 5px;
}

p > code {
  background-color: var(--secondary-color);
}

.title {
  margin: 0.1em 0;
}

.job-search {
  p {
    margin: 0;
  }
  font-size: 1.10rem;
  background-color: color-mix(in srgb, var(--secondary-color), white 5%);
  padding: 0.3em 0.5em;
}

a:has(.page-item) {
  text-decoration: none;
}

.page-item {
  margin: 0.3em 0;
  background-color: var(--secondary-color);
  padding: 0.3em 0.5em;
  border-radius: 5px;

  &:hover {
    background-color: color-mix(in srgb, var(--secondary-color), white 20%);
  }

  > * {
    margin: 2px 0;
  }

  .page-description {
    display: none;
    overflow-y: hidden;
    color: var(--text-color);
    font-size: 12pt;
    margin: 0;
  }

  .page-title {
    color: var(--text-color);
    margin: 0;
  }

  .page-info {
    display: flex;

    color: var(--secondary-text-color);
    font-size: 75%;
  }
}
