.project-type {
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
}

.project-card {
  background-color: var(--secondary-color);
  border-radius: 10px;
  width: 100%;

  h3,
  p {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  h3 {
    border-radius: 10px 10px 0 0;
    border-bottom: 1px black solid;
    white-space: nowrap;
  }

  p:has(.action) {
    background-color: var(--accent-color);
    border-radius: 0px 0px 10px 10px;
    padding: 7px 0;
    text-align: center;
    margin-bottom: 0;
    margin-top: auto;

    &:hover {
      background-color: color-mix(in srgb, var(--accent-color), white 15%);
    }
  }

  .action {
    color: #fff;
    text-decoration: none;
  }
}
