* {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  background-color: #222;
  color: #fff;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: visible;
}

#header {
  background-color: #222;
  display: flex;

  height: 70px;
}

#header > h1 {
  margin: auto 10px;
}

#header > button {
  font-size: 14pt;
  color: #fff;
  height: 100%;
  background-color: inherit;
  border: none;
  padding: 0px 10px;

  &:hover {
    background-color: #444;
  }
}

#header > dialog {
  max-width: 75vw;
  border-radius: 20px;
}


.dialog-close {
  border: none;
  background-color: #ddd;

  width: 100%;
  height: 50px;

  &:hover {
    background-color: #bbb;
  }
}

#modules {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  overflow-y: hidden;
}

.module {
  background-color: #111;
  color: #fff;

  width: 100%;
  height: 100%;
}

#passfail {
  display: grid;
  grid-template-rows: auto auto;
}

.stat-card {
  text-align: center;
}

.stat-description {
  font-size: 2em;
}

.stat-content {
  display: flex;
  justify-content: center;
}

.h-line {
  height: 7px;
  background-color: #fff;
}

.stat-value {
  font-size: 5em;
  margin: 0;
}

.equality, .ratio-box, .divider {
  margin: auto 10px;
}

.equality {
  width: 50px;
}

.equality > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider {
  min-width: 120px;
}

.labeled-number > .label {
  margin: 0;
  font-size: 1em;
  color: #aaa;
}

.goodValue {
  color: lightgreen;
}

.mehValue {
  color: yellow;
}

.badValue {
  color: red;
}
