<!doctype html>
<!-- vim: set ft=tera: -->
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8" />
      <link rel="stylesheet" href="/main.css" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% endblock head %}
    {% block title %}
      <title>Brennen Puth</title>
    {% endblock title %}
    {% block rss %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}
  </head>

  <body>
    <div class="header">
      <div class="header-left">
        <h4>Brennen Puth</h4>
        <a href="/">Home</a>
        <a href="{{ get_url(path='@/projects/_index.md')}}">Projects</a>
      </div>
      <div class="header-right">
        <a href="https://github.com/brennenputh">GitHub</a>
        <a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">RSS</a>
      </div>
    </div>
    <main>
      <div class="container">{% block content %} {% endblock %}</div>
    </main>
  </body>
</html>
