{% extends "base.html" %}
<!-- vim: set ft=tera: -->

{% block opengraph %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.content | striptags | truncate(length=200) }}">
  <meta property="og:type" content="article">
{% endblock opengraph %}

{% block title %}
  <title>{{ page.title }}</title>
{% endblock title %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/blog/post.css" />
{% endblock head %}
{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle">{{ page.date }}</p>
{{ page.content | safe }}

<footer>
  <hr/>
  <p>
    If you have questions or thoughts on the post I'd love to <a href="{{ get_url(path='@/contact/_index.md')}}">hear about it!</a>
    I'm also currently looking for work in the northeastern US, seeing as I'll be graduating with my bachelor's in CS in a few months. Any leads are appreciated.
  </p>
</footer>
{% endblock content %}
