{% extends "base.html" %}
<!-- vim: set ft=tera: -->

{% block opengraph %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.content | striptags | truncate(length=200) }}">
  <meta property="og:type" content="article">
{% endblock opengraph %}

{% block title %}
  <title>{{ page.title }}</title>
{% endblock title %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/blog/post.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.18.4/dist/katex.min.css" integrity="sha384-u1zONI5gPXUx0UKI62c75/zww972y0v2rSK5ZYlVdS6xEuWDeZWUI66v6t1gvlXJ" crossorigin="anonymous">

  <!-- KaTeX Support -->
  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.18.4/dist/katex.min.js" integrity="sha384-ykMNcWQhhTUb0YV9SPpPUFURHZ+tWmubkakGBP+OgNK/UXdO2gtzglWx0Rj9hnO3" crossorigin="anonymous"></script>
  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.18.4/dist/contrib/auto-render.min.js" integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz" crossorigin="anonymous"
      onload="renderMathInElement(document.body);"></script>
{% endblock head %}
{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle">{{ page.date }}</p>
{{ page.content | safe }}
{% endblock content %}
