{% extends "base.html" %} 
<!-- vim: set ft=tera: -->

{% block content %}
<p>
  Welcome to my corner of the internet!
  I currently study Computer Science and Cyber Operations at Cedarville University.
</p>
<p>
  My blog is the primary place you'll see new content from me.
  Don't expect any specific theme for it, I post what I'm thinking about which varies immensely from technology to philosophy and more.
  If you would like to follow along via RSS, the link is <a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">here</a>.  It should be picked up by most readers automatically.
</p>
<p>
  I contribute to open source projects I'm involved with from time to time.
  You can find what I've worked on at my list of <a href="{{ get_url(path='@/projects/_index.md') }}">projects</a>.
  Alternatively, you can take a look at my <a href="https://github.com/brennenputh">GitHub</a> to see what I've been up to most recently.
</p>
<p>
  If you'd like to reach out for any reason, you can use <a href="mailto:bputh.blog@gmail.com">bputh.blog@gmail.com</a>.
  When I say anything, I do mean anything: technology I've written about, cool books to read, even just to make a connection.
  I can't promise I'll get to anything I recieve immediately, but I'll be checking the inbox regularly.
</p>

<hr/>

<h3 class="title">
  Blog
</h3>
{% set blog_section = get_section(path="blog/_index.md") %}
{% for page in blog_section.pages %}
<a href="{{ page.permalink | safe }}">
  <div class="page-item">
    <h3 class="page-title">{{ page.title }}</h3>
    <div class="page-info">
      {{ page.date }} | Reading Time: {{ page.reading_time }}m
    </div>
  </div>
</a>
{% endfor %}

{% endblock content %}
